{% load static %}
<!DOCTYPE html>
<html>
    <HEAD>
        <title>POSTS</title>
        <link rel="stylesheet" href="{% static 'css/post.css' %}">
    </HEAD>
    <body>

        <div class="Header"">
            BLOG
        </div>
        
        <br>
        {% for x in posts %}
        <div class="title">
           <u> {{x.title}}</u>
            <br>
            <div class = "content">
            {{x.content}}
            </div>
            <br>
            
        {% endfor %}
        
        
    </div>    
    </body>
</html>